.App {
  text-align: center;
    height: 100vh;
    display:flex;

    justify-content: center;
    align-items: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.page-login {
  display: flex;

}

.login-form-fields{
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.login-form-error {
  display: flex;
  color: red;
}

.login-form-submit {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}


.footer {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: right;
  bottom: 0;
}

.footer-github-link{
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: center;
  padding-right: 5px;
  padding-bottom: 5px;


}

.footer-github-link-description {
  margin-left: 5px;
  
  display: flex;
  align-items: center;
  vertical-align: center;
  font-size: small;
}


.footer-demo-account {

  padding-right: 10px;
}